div{
    width: 200px;
    height: 200px;
}
div
{
    border:2px solid;
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
}
div
{
    box-shadow: 10px 10px 5px #888888;
}
div
{
    border-image:url(border.png) 30 30 round;
    -moz-border-image:url(border.png) 30 30 round; /* 老的 Firefox */
    -webkit-border-image:url(border.png) 30 30 round; /* Safari 和 Chrome */
    -o-border-image:url(border.png) 30 30 round; /* Opera */
}